/* ==== Major fixes starts here ==== */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Inter', sans-serif;
}
/* ==== Major fixes ends here ==== */

/* ==== First section starts here ==== */

.firstsection{
    height: 500px;
    /* border: 3px solid var(--black-color); */

    display: flex;
     
}

.firstsection-leftdiv{
    width: 50%;
    height: 100%;
    background: var(--gray-color);
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.firstsection-rightdiv{
    height: 100%;
    /* using color as a background */
    /* background: var(--main-color); */

    /* using image as background */
    /* background: url("./images/image1.jpg"); */
    /* background: linear-gradient(to right, #fd746c, #ff9068); */

    /* using background image with linear gradient */
    background: linear-gradient(to right, rgba(244, 107, 69, 0.2), rgba(255, 99, 71, 0.4)), url("./images/image1.jpg");
    width: 50%;
    background-size: cover;
    background-position: bottom left;

    /* Background image properties */
    /* background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover; */
}

.link-holder{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: var(--white-color);
    padding: 20px 0;

}

.logo{
    margin-bottom: 30px;

}

span{
color: var(--main-color);
}
.line{
    
    background: var(--main-color) ;
    padding: 8px;
    width: 224px;
}

.headingwriteup{
    margin: 30px 0;
}

/* ==== First section ends here ==== */


/* ==== Second section starts here ==== */

.secondsection{
    /* height: 300px; */
    /* border: var(--blackborder); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.secondsection-leftdiv{
    text-align: center;
    width: 310px;
    background: var(--gray-color);
    height: 400px;
    margin-right: 20px;
    padding: 40px 20px;

}
.secondsection-leftdiv p{
    text-align: left;
    margin: 20px 0;
}

.secondsection-rightdiv{
    height: 460px;
    width: 340px;
    background: var(--main-color);
}


/* ==== Second section ends here ==== */

/* ==== Third section starts here ==== */

.thirdsection{
    padding: 30px 0;
    flex-wrap: wrap;
    /* border: var(--blackborder); */
    display: flex;
    justify-content: center;
    background: var(--gray-color);

}

.thirdsection-leftdiv{
    height: 460px;
    width: 340px;
    background: var(--gray-color);
}

.thirdsection-rightdiv{
    height: 460px;
    width: 340px;
    background: var(--main-color);
    padding:40px 20px;
}

.thirdsection-rightdiv p{
    /* text-align: left; */
    margin: 20px;
}
/* ==== Third section ends here ==== */

/* ==== Footer section starts here ==== */
footer{
    color: var(--white-color);
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.footericons-container{
    text-align: center;
    /* height: 100px; */
    /* border: var(--blackborder); */
    width: 200px;
}
.footericons{
    font-size: 25px;
    margin: 0 5px;
}
/* ==== Footer section ends here ==== */




